README.md
Images/支付宝二维码.JPG

# ignore an entire directory
/Code/LLSDA.Entities/bin/Debug/
/Code/LLSDA.Interface/bin/Debug/
/Code/LLSDA.Service/bin/Debug/


# ignore a file type
*.pdb
*.dll
*.cache
*.assets.cache
*.sqlite
*.dtbcache
*.lut
