README.md
Images/支付宝二维码.JPG

# ignore the entire directory
/Code/LLSDA/bin/
/Code/LLSDA/obj/
/Code/LLSDA.Client.Winform/bin/
/Code/LLSDA.Client.Winform/obj/
/Code/LLSDA.Tests/bin/
/Code/LLSDA.Tests/obj/
/Code/.vs/


# ignore a file type
*.pdb
*.dll
*.cache
*.assets.cache
*.sqlite
*.dtbcache
*.lut
*.exe
*.bak

