README.md
Images/支付宝二维码.JPG

# ignore an entire directory
/Code/LLSDA/bin/Debug/
/Code/LLSDA.Client.Winform/bin/Debug/
/Code/.vs/LLDSA/V16/Server/


# ignore a file type
*.pdb
*.dll
*.cache
*.assets.cache
*.sqlite
*.dtbcache
*.lut
*.exe
Code/LLSDA.Client.Winform/LLSDA.Client.Winform/bin/Debug/Results/YearDistributionChart_d4c4ba19-f660-4304-a540-9ae69a09d39e
Code/LLSDA.Client.Winform/LLSDA.Client.Winform/obj/Debug/LLSDA.Client.Winform.exe
Code/LLSDA.Client.Winform/LLSDA.Client.Winform/bin/Debug/LLSDA.Client.Winform.exe
Code/.vs/LLSDA/v16/Server/sqlite3/storage.ide-wal
Code/.vs/LLSDA/v16/Server/sqlite3/storage.ide-shm
*.exe
*.exe
